-d https://raw.githubusercontent.com/ska-sa/katsdpdockerbase/master/docker-base-build/base-requirements.txt

aiohttp
async-timeout
asyncssh==2.17.0
attrs
cffi==2.0.0              # via cryptography
cryptography==46.0.5      # via asyncssh
prometheus-client==0.3.1
pycparser==2.22           # via cffi
typing-extensions==4.13.2 # via cryptography - to override base-requirements.txt above

katsdpservices @ git+https://github.com/ska-sa/katsdpservices
