-c https://raw.githubusercontent.com/ska-sa/katsdpdockerbase/master/docker-base-build/base-requirements.txt

aiohttp
async-timeout
asyncssh==1.14.0
attrs
prometheus-client==0.3.1

katsdpservices @ git+https://github.com/ska-sa/katsdpservices
